.footer__columns {
  margin-bottom: 24px;
  list-style-type: none;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 607px) {
  .footer__columns {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .footer__columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
