.website__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  /* identical to box height, or 100% */
  color: #AAAAAA;
  letter-spacing: 0.2em;
  margin-bottom: 12px;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .website__url-heading {
    line-height: 12px;
  }
}
