.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-position: center;
  position: relative;

}
.cover__background:hover:before {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__background {
    max-height: 480px;
  }
}
@media screen and (max-width: 425px) {
  .cover__background {
    max-height: 200px;
  }
}
.cover__background:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:1;
  opacity: 0.2;
  background: #2A2C2F;
}
