.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
